# --- Core Web App ---
Flask
python-dotenv
Werkzeug

# --- AI & RAG Backend ---
google-genai
pypdf
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
faiss-cpu

# --- Evaluation & Metrics (evaluate.py) ---
pandas
bert-score
torch
numpy
# Updated: 27 Juli 2026 - Semua File dan Folder PPDB SMKN 1 Sorong
